<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-vehicles-heading" data-cy="VehiclesCreateUpdateHeading" jhiTranslate="designerApp.vehicles.home.createOrEditLabel">
        Create or edit a Vehicles
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="designerApp.vehicles.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let vehicleRef = editForm.get('vehicle')!;
        <div class="mb-3">
          <label class="form-label" for="field_vehicle" jhiTranslate="designerApp.vehicles.vehicle">Vehicle</label>
          <select class="form-control" name="vehicle" formControlName="vehicle" id="field_vehicle" data-cy="vehicle">
            <option [ngValue]="null">{{ 'designerApp.Vehicle.null' | translate }}</option>
            @for (vehicle of vehicleValues; track $index) {
              <option [value]="vehicle">{{ 'designerApp.Vehicle.' + vehicle | translate }}</option>
            }
          </select>
          @if (vehicleRef.invalid && (vehicleRef.dirty || vehicleRef.touched)) {
            <div>
              @if (editForm.get('vehicle')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let vShipIdRef = editForm.get('vShipId')!;
        <div class="mb-3">
          <label class="form-label" for="field_vShipId" jhiTranslate="designerApp.vehicles.vShipId">V Ship Id</label>
          <input type="number" class="form-control" name="vShipId" id="field_vShipId" data-cy="vShipId" formControlName="vShipId" />
          @if (vShipIdRef.invalid && (vShipIdRef.dirty || vShipIdRef.touched)) {
            <div>
              @if (editForm.get('vShipId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('vShipId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let massRef = editForm.get('mass')!;
        <div class="mb-3">
          <label class="form-label" for="field_mass" jhiTranslate="designerApp.vehicles.mass">Mass</label>
          <input type="number" class="form-control" name="mass" id="field_mass" data-cy="mass" formControlName="mass" />
          @if (massRef.invalid && (massRef.dirty || massRef.touched)) {
            <div>
              @if (editForm.get('mass')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('mass')?.errors?.number" jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let costRef = editForm.get('cost')!;
        <div class="mb-3">
          <label class="form-label" for="field_cost" jhiTranslate="designerApp.vehicles.cost">Cost</label>
          <input type="number" class="form-control" name="cost" id="field_cost" data-cy="cost" formControlName="cost" />
          @if (costRef.invalid && (costRef.dirty || costRef.touched)) {
            <div>
              @if (editForm.get('cost')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('cost')?.errors?.number" jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let armoredRef = editForm.get('armored')!;
        <div class="mb-3">
          <label class="form-label" for="field_armored" jhiTranslate="designerApp.vehicles.armored">Armored</label>
          <input type="checkbox" class="form-check" name="armored" id="field_armored" data-cy="armored" formControlName="armored" />
          @if (armoredRef.invalid && (armoredRef.dirty || armoredRef.touched)) {
            <div>
              @if (editForm.get('armored')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let repairBayRef = editForm.get('repairBay')!;
        <div class="mb-3">
          <label class="form-label" for="field_repairBay" jhiTranslate="designerApp.vehicles.repairBay">Repair Bay</label>
          <input type="checkbox" class="form-check" name="repairBay" id="field_repairBay" data-cy="repairBay" formControlName="repairBay" />
          @if (repairBayRef.invalid && (repairBayRef.dirty || repairBayRef.touched)) {
            <div>
              @if (editForm.get('repairBay')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ships" jhiTranslate="designerApp.vehicles.ships">Ships</label>
          <select class="form-control" id="field_ships" data-cy="ships" name="ships" formControlName="ships" [compareWith]="compareShips">
            <option [ngValue]="null"></option>
            @for (shipsOption of shipsSharedCollection; track $index) {
              <option [ngValue]="shipsOption">{{ shipsOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
