<div>
  <h2 id="page-heading" data-cy="CargoesHeading">
    <span jhiTranslate="designerApp.cargoes.home.title">Cargoes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="designerApp.cargoes.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cargoes"
        [routerLink]="['/cargoes/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="designerApp.cargoes.home.createLabel">Create a new Cargoes</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (cargoes().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="designerApp.cargoes.home.notFound">No Cargoes found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cargo">
              <div class="d-flex">
                <span jhiTranslate="designerApp.cargoes.cargo">Cargo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cShipId">
              <div class="d-flex">
                <span jhiTranslate="designerApp.cargoes.cShipId">C Ship Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mass">
              <div class="d-flex">
                <span jhiTranslate="designerApp.cargoes.mass">Mass</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cost">
              <div class="d-flex">
                <span jhiTranslate="designerApp.cargoes.cost">Cost</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="armored">
              <div class="d-flex">
                <span jhiTranslate="designerApp.cargoes.armored">Armored</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ships.id">
              <div class="d-flex">
                <span jhiTranslate="designerApp.cargoes.ships">Ships</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (cargoes of cargoes(); track trackId(cargoes)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/cargoes', cargoes.id, 'view']">{{ cargoes.id }}</a>
              </td>
              <td [jhiTranslate]="'designerApp.Cargo.' + (cargoes.cargo ?? 'null')">
                {{
                  {
                    null: '',
                    Cargo: 'Cargo',
                    Bay: 'Bay',
                    Spares: 'Spares',
                    Cold: 'Cold',
                    Storage: 'Storage',
                    Data: 'Data',
                    Secure: 'Secure',
                    Vacuum: 'Vacuum',
                    Livestock: 'Livestock',
                    Live: 'Live',
                    Plant: 'Plant',
                  }[cargoes.cargo ?? 'null']
                }}
              </td>
              <td>{{ cargoes.cShipId }}</td>
              <td>{{ cargoes.mass }}</td>
              <td>{{ cargoes.cost }}</td>
              <td>{{ cargoes.armored }}</td>
              <td>
                @if (cargoes.ships) {
                  <div>
                    <a [routerLink]="['/ships', cargoes.ships.id, 'view']">{{ cargoes.ships.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/cargoes', cargoes.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/cargoes', cargoes.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(cargoes)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
