<div>
  <h2 id="page-heading" data-cy="ShipsHeading">
    <span jhiTranslate="designerApp.ships.home.title">Ships</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="designerApp.ships.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ships"
        [routerLink]="['/ships/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="designerApp.ships.home.createLabel">Create a new Ships</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (ships().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="designerApp.ships.home.notFound">No Ships found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="shipId">
              <div class="d-flex">
                <span jhiTranslate="designerApp.ships.shipId">Ship Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="userId">
              <div class="d-flex">
                <span jhiTranslate="designerApp.ships.userId">User Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tl">
              <div class="d-flex">
                <span jhiTranslate="designerApp.ships.tl">Tl</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tonnage">
              <div class="d-flex">
                <span jhiTranslate="designerApp.ships.tonnage">Tonnage</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="conf">
              <div class="d-flex">
                <span jhiTranslate="designerApp.ships.conf">Conf</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="designerApp.ships.code">Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hull">
              <div class="d-flex">
                <span jhiTranslate="designerApp.ships.hull">Hull</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="structure">
              <div class="d-flex">
                <span jhiTranslate="designerApp.ships.structure">Structure</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sections">
              <div class="d-flex">
                <span jhiTranslate="designerApp.ships.sections">Sections</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="capital">
              <div class="d-flex">
                <span jhiTranslate="designerApp.ships.capital">Capital</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="military">
              <div class="d-flex">
                <span jhiTranslate="designerApp.ships.military">Military</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.login">
              <div class="d-flex">
                <span jhiTranslate="designerApp.ships.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (ships of ships(); track trackId(ships)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ships', ships.id, 'view']">{{ ships.id }}</a>
              </td>
              <td>{{ ships.shipId }}</td>
              <td>{{ ships.userId }}</td>
              <td [jhiTranslate]="'designerApp.TL.' + (ships.tl ?? 'null')">
                {{
                  { null: '', A: 'A', B: 'B', C: 'C', D: 'D', E: 'E', F: 'F', G: 'G', H: 'H', I: 'I', J: 'J', K: 'K', L: 'L' }[
                    ships.tl ?? 'null'
                  ]
                }}
              </td>
              <td>{{ ships.tonnage }}</td>
              <td [jhiTranslate]="'designerApp.Config.' + (ships.conf ?? 'null')">
                {{
                  {
                    null: '',
                    Needle: 'Needle',
                    Wedge: 'Wedge',
                    Cone: 'Cone',
                    Standard: 'Standard',
                    Cylinder: 'Cylinder',
                    Close: 'Close',
                    Structure: 'Structure',
                    Sphere: 'Sphere',
                    Dispersed: 'Dispersed',
                    Planetoid: 'Planetoid',
                    Buffered: 'Buffered',
                    Box: 'Box',
                  }[ships.conf ?? 'null']
                }}
              </td>
              <td>{{ ships.code }}</td>
              <td>{{ ships.hull }}</td>
              <td>{{ ships.structure }}</td>
              <td>{{ ships.sections }}</td>
              <td>{{ ships.capital }}</td>
              <td>{{ ships.military }}</td>
              <td>
                {{ ships.user?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/ships', ships.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/ships', ships.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(ships)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
