<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (vehicles(); as vehiclesRef) {
      <div>
        <h2 data-cy="vehiclesDetailsHeading"><span jhiTranslate="designerApp.vehicles.detail.title">Vehicles</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ vehiclesRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="designerApp.vehicles.vehicle">Vehicle</span></dt>
          <dd>
            <span [jhiTranslate]="'designerApp.Vehicle.' + (vehiclesRef.vehicle ?? 'null')">{{
              {
                null: '',
                Air: 'Air',
                Raft: 'Raft',
                ATV: 'ATV',
                G: 'G',
                Sled: 'Sled',
                Car: 'Car',
                Ships: 'Ships',
                Boat: 'Boat',
                Modular: 'Modular',
                Cutter: 'Cutter',
                Shuttle: 'Shuttle',
                Light: 'Light',
                Fighter: 'Fighter',
                Medium: 'Medium',
                Heavy: 'Heavy',
                Tank: 'Tank',
                APC: 'APC',
                GAPC: 'GAPC',
              }[vehiclesRef.vehicle ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="designerApp.vehicles.vShipId">V Ship Id</span></dt>
          <dd>
            <span>{{ vehiclesRef.vShipId }}</span>
          </dd>
          <dt><span jhiTranslate="designerApp.vehicles.mass">Mass</span></dt>
          <dd>
            <span>{{ vehiclesRef.mass }}</span>
          </dd>
          <dt><span jhiTranslate="designerApp.vehicles.cost">Cost</span></dt>
          <dd>
            <span>{{ vehiclesRef.cost }}</span>
          </dd>
          <dt><span jhiTranslate="designerApp.vehicles.armored">Armored</span></dt>
          <dd>
            <span>{{ vehiclesRef.armored }}</span>
          </dd>
          <dt><span jhiTranslate="designerApp.vehicles.repairBay">Repair Bay</span></dt>
          <dd>
            <span>{{ vehiclesRef.repairBay }}</span>
          </dd>
          <dt><span jhiTranslate="designerApp.vehicles.ships">Ships</span></dt>
          <dd>
            @if (vehicles()!.ships) {
              <div>
                <a [routerLink]="['/ships', vehicles()!.ships?.id, 'view']">{{ vehiclesRef.ships?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/vehicles', vehiclesRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
